* {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
}
body {
    background-color: rgb(34, 32, 32) !important;
}

/* INICIO CABEÇALHO */
.header {
    height: 3vw;
    background-color: #000000;
}
.menu-item {
    display: block;
    text-align: center;
    padding: 9px;
}
h4 a {
    color: #FFF;
}
h4 a:hover {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}
/* FIM CABEÇALHO */

/* INICIO BANNER */
div.title {
    text-align: center;
}
/* FIM BANNER */

/* INICIO CONTEUDO PRINCIPAL */
.title {
    padding-bottom: 10px;
    padding-top: 20px;
}
.item-conteudo {
    margin-bottom: 30px;
}
.item-conteudo .item-name{
    padding: 10px;
}
/* FIM CONTEUDO PRINCIPAL */

/* INICIO NEWSLETTER */
.container.newsletter-block {
    background-color: #000;
    border-radius: 15px;
}
/* FIM NEWSLETTER */






.conteudo {
    padding-bottom: 20px;
}
.botao {
    margin-bottom: 20px;
    background-color: #c2783c;
    border: none;
    border-radius: 5px;
    color: #FFF;
    padding: 5px 15px;
}
input, 
select {
    background-color: #585858 !important;
    border: none;
    width: 100%;
    padding: 5px 10px;
}